.profile{
  background-color: #eee;
  height: 100%;
  &__main{
    margin: 40px auto;
    padding:0 0 40px 0;
    width: 1020px;
    height: 1252px;
    &__right{
      float: right;
      width: 700px;
      &__section{
        background: #fff;
        &__head{
          font-size: 24px;
          padding: 8px 24px;
          border-bottom: 1px solid f5f5f5;
          text-align: center;
          margin-top:10px;
        }
      }
    }
  }
}

.profile__main__right__section h2{
  line-height: 1.4;
  display: block;
  font-weight: bold;
}

.profile__main__right__section__namevar{
  padding: 72px 16px 24px;
  background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?78405350");
  text-align: center;
  font-size: 0px;
  & figure{
    display: inline-block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    vertical-align: middle;
    background-repeat: no-repeat;
    & img{
      vertical-align: middle;
    }
  }
}

.profile__main__right__section__namevar input{
  width: 220px;
  margin: 0 0 0 8px;
  vertical-align: middle;
  height: 48px;
  padding: 10px 16px 8px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  min-height: 1.5em;
}

.profile__main__right__section__textbox{
  padding: 40px 16px
}
.textbox{
  min-height: 216px;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

.bottom-btn{
  margin: 16px 0 0 0;
  background-color: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  text-align: center;
}



