<div class="login">
  <%= render 'layouts/signup_header' %>
  <div class="login__main">
    <div class="login__main__top">
      <p>アカウントをお持ちでない方はこちら</p>
      <div class="login__sns">
        <div class="login__sns__no-account">
          <a href="#" class="login__sns__no-account__btn">新規会員登録</a>
        </div>
      </div>
    </div>
    <div class="login__main__sns">
      <div class="login__sns">
        <div class="login__sns__facebook">
          <a href="#" class="login__sns__facebook__btn">
            <i class="login__sns__facebook-icon"></i>Facebookでログイン</a>
        </div>
      </div>
      <div class="login__sns">
        <div class="login__sns__google">
          <a href="#" class="login__sns__google__btn">
            <i class="login__sns__google-icon"></i>Googleでログイン</a>
        </div>
      </div>
    </div>
    <div class="login__with-account">
      <input type="email" name="email" value="" placeholder="メールアドレス" class="login-input-text input-default">
      <div class="form-group">
        <input type="password" name="password" placeholder="パスワード" class="login-input-text input-default">
        <div class="g-recaptcha login-captcha" data-sitekey="6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc">
        <div style="width: 304px; height: 78px;">
          <div>
            <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&amp;co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&amp;hl=ja&amp;v=v1542004393985&amp;size=normal&amp;cb=rpt8q8e1vxj2" width="304" height="78" role="presentation" name="a-w0x9bnq0oemn" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
            </iframe>
          </div>
          <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
          </textarea>
        </div>
        <ul class="error-text">
          <li>選択してください</li>
        </ul>
        </div>
        <div class="login__sns">
          <div class="login__submit">
           <a href="#" class="signup__submit">ログイン</a>
          </div>
        </div>
        <a href="#" class="forget-password">パスワードをお忘れの方</a>
      </div>
    </div>
  </div>
  <%= render 'layouts/signup_footer' %>
</div>

