<header>
  <h1>
    <a href="#" class="header__logo">
      <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1813030873" alt="mercari">
    </a>
  </h1>
</header>

<main>
  <div class="contents__top">
    <p>アカウントをお持ちでない方はこちら</p>
    <div class="signup">
      <div class="signup__no-account">
        <a href="#" class="signup__no-account__btn">新規会員登録</a>
      </div>
    </div>
  </div>
  <div class="contents__sns">
    <div class="signup">
      <div class="signup__facebook">
        <a href="#" class="signup__facebook__btn">
          <i class="content__facebook-icon"></i>Facebookでログイン</a>
      </div>
    </div>
    <div class="signup">
      <div class="signup__google">
        <a href="#" class="signup__google__btn">
          <i class="signup__google-icon"></i>Googleでログイン</a>
      </div>
    </div>
  </div>
  <div class="login">
    <input type="email" name="email" value="" placeholder="メールアドレス" class="login-input-text input-default">
  <!-- <div class="form-group"> -->
    <input type="password" name="password" placeholder="パスワード" class="login-input-text input-default">
    <div class="g-recaptcha login-captcha" data-sitekey="6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc">
      <div style="width: 304px; height: 78px;">
        <div>
          <iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfZGCYTAAAAAHoK-s7Lg5OdYg5Fq4susvALmZoc&amp;co=aHR0cHM6Ly93d3cubWVyY2FyaS5jb206NDQz&amp;hl=ja&amp;v=v1542004393985&amp;size=normal&amp;cb=rpt8q8e1vxj2" width="304" height="78" role="presentation" name="a-w0x9bnq0oemn" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox">
          </iframe>
        </div>
        <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;">
        </textarea>
      </div>
      <ul class="error-text">
        <li>選択してください</li>
      </ul>
    </div>
    <div class="signup">
      <div class="signup__submit">
        <a href="#" class="signup__submit">ログイン</a>
      </div>
    </div>
    <a href="#" class="forget-password">パスワードをお忘れの方</a>
  </div>
</main>
<footer>
  <nav>
    <ul>
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <a href="#">メルカリ利用規約</a>
      </li>
      <li>
        <a href="#">特定商取引に関する表記</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="footer__logo">
    <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1813030873" alt="mercari" width="80" height="65">
  </a>
  <p>© 2018 Mercari</p>
</footer>
