<header>
  <h1>
    <a href="#" class="header__logo">
      <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1813030873" alt="mercari">
    </a>
  </h1>
</header>
<main>
  <h2 class="title">新規会員登録</h2>
  <div class="contents">
    <div class="signup">
      <div class="signup__mail">
        <a href="#" class="signup__mail__btn">
          <i class="signup__mail-icon"></i>メールアドレスで登録</a>
        </a>
      </div>
    </div>
    <div class="signup">
      <div class="signup__facebook">
        <a href="#" class="signup__facebook__btn">
          <i class="content__facebook-icon"></i>Facebookで登録</a>
      </div>
    </div>
    <div class="signup">
      <div class="signup__google">
        <a href="#" class="signup__google__btn">
          <i class="signup__google-icon"></i>Googleで登録</a>
      </div>
    </div>
  </div>
</main>
<footer>
  <nav>
    <ul>
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <a href="#">メルカリ利用規約</a>
      </li>
      <li>
        <a href="#">特定商取引に関する表記</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="footer__logo">
    <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1813030873" alt="mercari" width="80" height="65">
  </a>
  <p>© 2018 Mercari</p>
</footer>

