<div class="signup">
  <%= render'layouts/signup_header' %>
  <div class=" signup__main">
    <h2 class="signup__title">新規会員登録</h2>
    <div class="signup__contents">
      <div class="signup__contents__sns">
        <div class="signup__contents__sns__mail">
          <a href="#" class="signup__contents__sns__mail__btn">
            <i class="signup__contents__mail-icon"></i>メールアドレスで登録</a>
          </a>
        </div>
      </div>
      <div class="signup__contents__sns">
        <div class="signup__contents__sns__facebook">
          <a href="#" class="signup__contents__sns__facebook__btn">
            <i class="signup__contents__sns__facebook-icon"></i>Facebookで登録</a>
        </div>
      </div>
      <div class="signup__contents__sns">
        <div class="signup__contents__sns__google">
          <a href="#" class="signup__contents__sns__google__btn">
            <i class="signup__contents__sns__google-icon"></i>Googleで登録</a>
        </div>
      </div>
    </div>
  </div>
  <%= render'layouts/signup_footer' %>
</div>
