= render partial: "/layouts/header"
.login
  .logout
    .logout__contents
      .logout__contents__right
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "login__button login__button__logout"
      .logout__contents__left
        = render partial: "sidebar"
= render partial: "/layouts/footer"
