
<%= render partial: "/layouts/header" %>
<div class="login">
  <div class="logout">
    <div class="logout__contents">
      <div class="logout__contents__top">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "login__button login__button__logout" %>
      </div>
      <div class="logout__contents__bottom">


        <!-- ＊＊ーー下部は仮置きーーマイページの部分テンプレート完成したらここの下に入れるーー＊＊ -->
        <div class="mypage">
          <ul class="mypage-nav-list">
            <li>
              <% link_to "#" %>
                  マイページ
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  お知らせ
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
             <% link_to "#" %>
                  やることリスト
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  いいね！一覧
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  出品する
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  出品した商品 - 出品中
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  出品した商品 - 取引中
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                  出品した商品 - 売却済み
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                購入した商品 - 取引中
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                購入した商品 - 過去の取引
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                ニュース一覧
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                評価一覧
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                ガイド
                <i class="icon-arrow-right"></i>
              </a>
            </li>
            <li>
              <% link_to "#" %>
                お問い合わせ
                <i class="icon-arrow-right"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render partial: "/layouts/footer" %>


