.top-header{
  display: block;
  width: 100%;
  height: 90px;

  .header-innner{
    width: 71%;
    margin: 0 auto;
    padding: 8px 0 0;
    .l-left{
      float: left;
  }
}

.header-form{
  position: relative;
  width: calc(100% - 150px);
  height: 36px;
  float: right;

  .input-default{
    width: 100%;
    height: 36px;
    padding: 9px 32px 9px 8px;
    background: #fafafa;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 1.5;
    font-size: 16px;
  }

  .icon-search{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    height: 20px;
    background: #fafafa;
    margin-top: 1px;
    margin-right: 5px;
  }
  }
}

.header-nav-bar{
  list-style: none;
  font-size: 14px;
  margin: 8px 0 0;
  display: inline-block;
  .content-left{
    float: left;
  }
  .content-right{
    float: right;
  }
}

.header-nav-list{
  font-weight: 400;
  font-size: 14px;
  padding: 0 16px;
  line-height: 44px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  a{
    text-decoration: none;
  }
  li{
    float: left;
  }
}
.header-nav-brand{
  padding-left: 16px;
}

.content-right{
  float: right;
  display: inline-block;

  .header-user-list{
    list-style: none;
    li{
      float: left;
    }
  .header-user-root{
    text-decoration: none;
    margin: 0;
    .sign-in-btn{
      display: block;
      background: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      border-radius: 4px;
      text-align: center;
      padding: 0 10px;
      line-height: 30px;
      font-size: 14px;
      }
    }

    .register-btn{
      padding-left: 8px;
      text-decoration: none;
      display: inline-block;

      .sign-up-btn{
        display: block;
        border: 1px solid #0099e8;
        background: #fff;
        color: #0099e8;
        padding: 0 10px;
        line-height: 30px;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
     }
    }
  }
}


.clearfix{
  content: "";
  display: block;
  clear: both;
}

