.main-contents-images {
  background-color: #1F1F1F;
  color: #FFF;
  height: 290px;
  img {
    height: 290px;
  }
}

.pickup-contents {
  padding: 40px;
  background: #f5f5f5;
  h2 {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }
}
.items-box-container {
  width: 940px;
  margin: 0 auto;
  h3 {
    font-size: 22px;
    margin: 26px 11px;
    text-align: center;
  }
  a {
    color: #0099e8;
    text-decoration: none;
    font-weight: bold;
  }
  .items-box-content {
    width: auto;
    height: 330px;
    margin: 0 auto;
    .items-box {
      position: relative;
      display: inline-block;
      float: left;
      width: 48%;
      margin: 0 0 4% 4%;
      background: #FFF;
      margin: 0 0 0 20px;
      width: 213px;
      a {
        display: block;
        color: #333;
        .items-box-photo {
          width: 220px;
          height: 220px;
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 0;
          padding: 0 0 100%;
          img {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            width: 100%;
          }
        }
        .items-box-body {
          position: relative;
          padding: 16px 16px 0 16px;
          background: #FFF;
          color: #333;
          .items-box-name {
            overflow: hidden;
            position: relative;
            font-weight: 400;
            height: 3em;
            line-height: 1.5;
            word-break: break-word;
            white-space: normal;
          }
          .font-2 {
            font-size: 16px;
            color: #333;
          }
          .items-box-num {
            margin: 8px 0 0;
            .items-box-price {
              font-size: 16px;
              color: #333;
              float: left;
            }
            .items-box-likes {
              float: right;
              font-weight: 400;
            }
            .item-box-tax {
              font-size: 10px;
              font-weight: 400;
              clear: both;
            }
          }
        }
      }
    }
  }
  .view-all {
    padding: 60px 0 30px;
    width: 99.5%;
    text-align: right;
    a {
      font-weight: 400;
    }
  }
}

* {
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}


