.login {
  &__button {
    text-decoration:none;
    display: block;
    font-size: 14px;
    margin-bottom: 30px;
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    width: 100%;
    &__fb {
      color: $white;
      background: #385185;
    }
    &__google {
      color: $white;
      background: #dc4e41;
    }
    &__no-account {
      color: $white;
      background-color: $light-blue;
    }
    &__mail{
      color: #333;
      background-color:#eee;
    }
    &__submit{
      color: $white;
      background: $red;
    }
    &__next{
      color: $white;
      background: $red;
      margin: 40px 0;
    }
    &__logout{
      max-width: 320px;
      height: 28px;
      margin: 64px auto;
      color: $white;
      background: $red;
    }
  }
  i.fa{
  color: $white;
  font-size: 20px;
  }
  .fa-envelope{
    position: relative;
    left: -60px;
  }
  .fa-facebook-square{
    position: relative;
    left: -60px;
  }
  .fa-google-plus-square{
    position: relative;
    left: -70px;
  }
}
