.login {
  &__button {
    text-decoration:none;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    padding: 14px 0;
    width: 100%;
    &__fb {
      color: #fff;
      background: #385185;
    }
    &__google {
      color: #fff;
      background: #dc4e41;
    }
    &__no-account {
      color: #fff;
      background-color:#0099e8;
    }
    &__mail{
      color: #333;
      background-color:#eee;
    }
    &__submit{
      color: #fff;
      background: #ea352d;
      &__next{
        color: #fff;
        background: #ea352d;
        margin: 40px 0;
      }
    }
  }
  i.fa{
  color: #fff;
  font-size: 20px;
  }
  .fa-envelope{
    position: relative;
    left: -60px;
  }
  .fa-facebook-square{
    position: relative;
    left: -60px;
  }
  .fa-google-plus-square{
    position: relative;
    left: -70px;
  }
}
