.login{
  .logout{
    &__contents{
      margin: 0 auto;
      max-width: 700px;
      &__top{
        background: $white;
        clear:both;
        padding: 2px 0;
      }
      &__bottom{
        display: block;
        overflow: scroll;
        margin-top: 30px;
        padding-bottom: 40px;
      }
      .mypage-nav-list{
        margin: 0px !important;
      }
      li{
        width: 100% !important;
      }
    }
  }
}
