.login {
  &__main{
    max-width: 456px;
    margin: 0 auto;
    background: $white;
    box-sizing:inherit;
    display: block;
    overflow: scroll;
    &__top{
      border-bottom: 1px solid $gray;
      padding: 40px 64px;
    }
    &__sns{
      margin:32px 64px;
      border-top: 1px solid $gray;
    }
  }
  &__with-account{
    padding: 34px 0 32px;
  }
  .error-text {
    color: $red;
    text-align: left;
  }
  .forget-password{
    text-decoration:none;
    display: block;
    margin-top: 40px;
    color: $light-blue;
    font-size: 14px;
  }
  &__field {
    height: 28px;
    width: 294px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    background-color: rgb(250, 255, 189);
    border: 1px solid #ccc;
    background: $white;
    line-height: 1.5;
    font-size: 16px;
    margin: 12px auto;
    font-size: 16px;
  }
  p{
    font-size: 14px;
    display: block;
    text-align: center;
    margin-bottom: 8px;
  }
}
