.login{
  .registration{
    max-width: 700px;
    margin: 0 auto;
    background: $white;
    box-sizing:inherit;
    display: block;
    overflow: scroll;
    &__title{
      font-size: 18px;
      padding: 24px 8px;
      text-align: center;
      line-height: 1.5;
      font-weight: bold;
      border-bottom: 1px solid $gray;
    }
    &__contents{
      padding: 20px;
      max-width: 320px;
      margin: 0 auto;

      label{
        font-size: 14px;
        font-weight: bold;
        color: rgb(51, 51, 51);
        margin-top: 20px;
      }

      &__required::after {
        background-color: $red;
        content: "必須";
        font-size: 8px;
        font-weight:100;
        color: $white;
        border-radius:2px;
        display: inline-block;
        margin-left: 8px;
        position:relative;
        padding: 3px 6px;
        top: -2px;
      }

      &__field {
        margin-bottom: 40px;
      }
    }
  }
  .g-recaptcha{
    margin-top: 30px;
  }
}
