.login
  .login__footer
    %ul.login__footer__ul
      %li.login__footer__li
        %a{:href => "#"} プライバシーポリシー
      %li.login__footer__li
        %a{:href => "#"} メルカリ利用規約
      %li.login__footer__li
        %a{:href => "#"} 特定商取引に関する表記
    %a.login__footer__logo{:href => "#"}
      %img{:alt => "mercari", :height => "65", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1813030873", :width => "80"}/
    .login__footer__copyright © 2018 Mercari
