<div class="signup__footer">
  <nav>
    <ul>
      <li>
        <a href="#">プライバシーポリシー</a>
      </li>
      <li>
        <a href="#">メルカリ利用規約</a>
      </li>
      <li>
        <a href="#">特定商取引に関する表記</a>
      </li>
    </ul>
  </nav>
  <a href="#" class="signup__footer__logo">
    <img src="https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1813030873" alt="mercari" width="80" height="65">
  </a>
  <p>© 2018 Mercari</p>
</div>
